.spinner-area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(black, 0.5);
  z-index: 20;
  text-align: center;
  perspective: 100rem;
  transition: background-color 1s ease-out;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.spinner-icon {
  display: inline-block;
  vertical-align: middle;
  animation: rotating 1133ms infinite cubic-bezier(0.4, 0, 0.2, 1) both;
}

.white {
  color: white;
}

.black {
  color: black;
}

@keyframes rotating {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
