.theme-color {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 0.3rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.radio-input {
  display: none;
}

.radio-checked {
  border: solid 0.1rem white;

  .radio-icon:before {
    content: "\e6a2";
  }
}

.pink {
  background-color: #d24d57;
}

.red {
  background-color: #c04930;
}

.orange {
  background-color: #ba5d03;
}

.brown {
  background-color: #8f704e;
}

.olive {
  background-color: #677841;
}

.green {
  background-color: #117454;
}

.blue {
  background-color: #0086bc;
}

.ocean {
  background-color: #004d65;
}

.indigo {
  background-color: #7e5a9d;
}

.purple {
  background-color: #53354e;
}

.grey {
  background-color: #404040;
}

.black {
  background-color: #0d0d0d;
}

@media (min-width: 1200px) {
  .theme-color {
    height: 2.3rem;
    width: 2.3rem;
  }
}
