.tab {
  color: #4a4a4a;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
     > i,
     > span {
      opacity: 0.6;
    }
  }

  &.active {
    color: #9b9b9b !important;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    border-radius: 0.3rem 0.3rem 0 0;
    cursor: default;

    &:hover {
      > i,
      > span {
        opacity: 1;
      }
    }
  }
}

.disable {
  cursor: not-allowed;
  opacity: 0.3;
}

.grey {
  border-bottom: 0.1rem solid #e4e4e4;

  &.active {
    border: 0.1rem solid #e4e4e4;
    border-bottom: none;
  }
}
