.user-avatar {
  border-radius: 50%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  flex-shrink: 0;
}

.sm {
  width: 4rem;
  height: 4rem;
}

.md {
  width: 12rem;
  height: 12rem;
}

.lg {
  width: 21rem;
  height: 21rem;
}
