:javascript
  localStorage.setItem("userData", JSON.stringify("#{@user}"));
  localStorage.setItem("tokenInfo", JSON.stringify("#{@token_info}"));
  localStorage.setItem("newUser", "#{@new_user}");
  window.close();
